<h1>Add a trip</h1>
<p>Add a trip here:</p>
<form action="/categories" method="post">
  <label for="category-name">Give your trip a name:</label>
  <input id="category-name" name="category-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
